{{define "add"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" "ADD"}}
  <body>
    {{template "header" "ADD"}}
    <main>
        <form>
            <input type="text" placeholder="Data for your block" required name="data"/>
            <button>Add Block </button>
        </form>
    </main>
  {{template "footer"}}
  </body>
</html>
{{end}} 